html, body {
    background: #edf1f5;
}
body.stop-scrolling {
    overflow: hidden !important;
}
.collapse.in {
    font-size: 13px;
}
.panel {
    margin-bottom: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
#side-menu ul > li > a.active {
    font-weight: 400 !important;
}
.new-login-register {
    position: static;
    height: 100%;
}
.new-login-register .lg-info-panel {
    top: 0
}
.error-summary {
    color: #a94442;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
}
.error-summary-no-header > p {
    display: none;
}
.error-summary-no-header > ul {
    padding-left: 15px;
}
.new-login-box .error-summary {
    font-size: 12px;
}
.form-horizontal .form-group {
    margin-bottom: 15px;
}
.form-group .help-block {
    margin-bottom: 0;
    font-size: 12px;
}
.new-login-register .new-login-box .new-lg-form label {
    font-size: 11px;
    /*text-transform: none;*/
}
input:-webkit-autofill{
    box-shadow:inset 0 0 0 1000px #fff;
}

small ol {
    margin-top: 10px;
    padding-left: 15px;
}
small ol li {
    margin-bottom: 10px;
}
.bs-none {
    box-shadow: none;
}
.input-group-btn .btn-sml {
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-left: 0 !important;
    width: 38px;
}
.m-l-0 {
    margin-left: 0 !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.js_loader {
    display: none;
}
.w500 {
    width: 500px;
}
.grid-view th {
    text-transform: uppercase;
}
.grid-view th a {
    color: #666666 !important;
}
.grid-view input,
.grid-view select,
input.form-control,
select.form-control,
textarea.form-control {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #F6F6F6;
}
.grid-view .filters {
    background-color: #f7fafc;
}
.pagination {
    margin: 10px 0 20px;
    padding: 0 20px;
}
.pagination > li > a, .pagination > li > span {
    color: #666666;
    border: 0;
    margin-left: 2px;
    padding: 6px 13px;
}
form div.required label:after {
    content:" * ";
    color:red;
}